<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/profilePage.css" rel="stylesheet">
</head>
<body>
<!--<div class="mx-auto" style="width: 200px;">-->
<div class="sticky-top">
    <h1>Личный кабинет (имя аккаунта)</h1>
<p>Ваш счёт: </p>
<p>Проиграно: </p>
<p>Заработано: </p>
<p>Пополнить счет: </p>
</div>
</body>
</html>